html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(192, 218, 234);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main {
    flex-grow: 1; 
    padding: 20px;
}

@media (min-width: 576px) {
    .container-sm {
        width: 90%; 
    }
}

img {
    width: 125px;
    height: auto;
    margin-bottom: 10px;
}

.navbar-nav .nav-link:hover {
    color: rgb(159, 195, 253); /* Overschrijven van hoverkleur bootstrap navbar */
}

.contact-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  .contact-form label {
    font-weight: 700;
  }

  .contact-form .form-control {
    border-radius: 5px;
  }

  .contact-form textarea {
    resize: none;
  }

footer {
    height: 200px;
    text-align: center;
    padding: 0;
    margin-top: auto; 
    flex-shrink: 0;
}

